##############################
##############################
##############################
##########  Git   ############
**/.git
!**/.gitkeep

##########  Data  ############
**/*.log
**/*.p
**/*.csv
**/*.tsv
**/*.gz
**/*.zip
**/*.model

########## Python ############
# Cache files
**/__pycache__
**/*.pyc
**/.cache

# Venv
**/venv

########## Javascript ############
.build/
node_modules
npm-debug.log

######### Editors ############
# Vim files
**/*.swo
**/*.swp
*~
# IDE filter for .idea 
**/.idea
# Macs
**/.DS_Store
